<div class="section">
  <h4>Make sure API is running: VouchersAPI -> src folder -> dotnet watch run</h4><br>
</div>

<div class="section">
  <div class='row'>
    <div class='col-xs-3'>
      <h4>Voucher</h4><br>
      <a (click)="getVouchers()">Get Vouchers HttpClient</a><br />
      <a (click)="getVouchersHttp()">Get Voucher Http</a><br />      
      <a (click)="insertVoucher()">Insert Voucher HttpClient</a><br />
      <a (click)="usingHeadersHttpClient()">Using Headers in HttpClient</a><br />
    </div>
    <div class='col-xs-9' style='vertical-align: top'>
      <h5>Result</h5><br>
      {{result | json}}
    </div>
  </div>    
</div>