a {
    display: block;
    text-decoration: none;    
    cursor: pointer;
    padding-bottom: 3px;
}

.panel {
    background-color: white;    
    padding: 20px;
}

.imgCell{
    padding-top: 5px;
    vertical-align: middle;
}