<div id="demoContainer" class="">
    <div class="row" [MatchHeight]="'panel'">
        <div class="panel col-md-2">
            <h4>{{title}}</h4>
            <div>
                <a *ngFor="let item of demos" [routerLink]="['', item.url]" [queryParams]="{title: item.title}">{{item.title}}</a>
            </div>
        </div>

        <div class="panel col-md-9 col-md-offset-1">
            <h4>{{demoName}}</h4>
            <div>
               <router-outlet></router-outlet>
             </div>
        </div>
    </div>
</div>