<div class="section">  
  <div>
    <table class="table">
      <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Expense</th>            
            <th></th>
            <th><a [routerLink]="[ '/accounts', 0]">New Account</a></th>
          </tr>
      </thead>
        <tbody>
          <tr *ngFor="let a of accounts" (click)="showAccount(a.ID)">
            <td>{{a.ID}}</td>
            <td>{{a.Name}}</td>
            <td><input type="checkbox" [ngModel]="a.Expense" disabled="true"></td>
            <td><a (click)="deleteAcccount(a)" >Delete</a></td>
            <td><a [routerLink]="[ '/accounts', a.ID ]">Edit</a></td>            
          </tr>    
    </tbody>
    </table>
  </div>
</div>

