<div class="section">
  <h4>Make sure API is running: VouchersAPI -> src folder -> dotnet watch run</h4><br>
</div>

<div class="section">
  <div [ngSwitch]="currentView">
    <div *ngSwitchCase="view.Filter">
      <div class='row'>
        <div class='col-xs-3'>
          <h4>Currently playing:</h4>
          <br>
        </div>
        <div class='col-xs-9' style='vertical-align: top'>
          <ul>
            <li *ngFor="let mi of current | async">{{mi.title}}, Start Time: {{mi.startTime | date : "mediumTime"}}</li>
          </ul>
        </div>
      </div>

      <div class='row'>
        <div class='col-xs-3'>
          <h4>Available Soon</h4>
          <br>
        </div>
        <div class='col-xs-9' style='vertical-align: top'>
          <ul>
            <li *ngFor="let mi of upcoming | async">{{mi.title}}, Start Time: {{mi.startTime | date : "mediumTime"}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="view.Stream">
      <ul>
        <li *ngFor="let m of media">{{m.Title}}</li>
      </ul>
    </div>
  </div>


</div>