<div class="section">  
  <div>
    <table class="table">
      <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Expense</th>
            <th>Balance</th>
            <th>Created</th>
          </tr>
      </thead>
        <tbody>
          <tr *ngFor="let a of accounts" (click)="showAccount(a.ID)">
            <td>{{a.ID}}</td>
            <td>{{a.Name}}</td>
            <td>
                <div *ngIf="a.Expense; else falsyTemplate">
                    <input type="checkbox" [ngModel]="a.Expense" disabled="true">
                </div>

                <ng-template #falsyTemplate>
                    
                </ng-template>
            </td>
            <td>{{a.Balance | currency:'EUR':true}} </td>
            <td>{{a.Created | date:'shortDate'}}</td>
            <td><a [routerLink]="[ '/accounts', a.ID ]">Edit</a></td>
          </tr>    
    </tbody>
    </table>
  </div>
</div>
